.container{
    background-color: rgb(240,240,240);
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
}
.WowSection{
    width: 650px;
    height: 150px;
    margin-top: 50px;
   
}


.WowSection h2, .WowSection h4{
    font-family: 'Montserrat','sans-serif';
    text-transform:uppercase;
    text-align: center;
    margin: 10px 0px 10px;
}
.WowSection h2{
    font-size: 40px;
    letter-spacing: 2px;  
}
.WowSection h4{
    font-family: 'Source Sans 3','sans-serif';
    font-size: 12px;
    letter-spacing: 3px;  
    font-weight: 100;
}

.thumbsContainer{
    width: 100%;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
}